<p>
  home works!
</p>
<hr />
<div style="width: 50%; float:left;">
<h1>User Reactive Form </h1>
    <form [formGroup]="userForm">
        <div>
            UserName : <input type="text" formControlName="username"/>
            <p style="color:red;"
               *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">Username
                Missing </p>
            <p style="color:red;"
               *ngIf="userForm.get('username').hasError('InvalidName') && userForm.get('username').touched">Invalid UserName
            </p>
        </div>
           <br/>
        <div>
            password : <input type="text" formControlName="password"/>
            <p style="color:red;" *ngIf="userForm.get('password').invalid">Password Missing</p>
        </div>

        <p>
            email : <input type="text" formControlName="email"/>
        </p>


        <button (click)="saveValues()"> Save Reactive </button>

    </form>
</div>

<div style="width: 50%; float:left;">
    <h1>User Model Form </h1>
   <form (ngSubmit)="saveModelValue(form)" #form="ngForm">
       <div>
           UserName :  <input type="text" name="username" [ngModel]="defaultUserName">
       </div>

       <div>
           Password :  <input type="text" name="password" ngModel required #passText="ngModel">
           <p  style="color:red;" *ngIf="!passText.valid && passText.touched">Password Required</p>
       </div>

       <div>
           Email :  <input type="email" name="emailText" ngModel required minlength="8" #emailRef="ngModel" email>
           <p  style="color:red;" *ngIf="emailRef.hasError('required') && emailRef.touched">Email Required</p>
           <p  style="color:red;" *ngIf="emailRef.hasError('minlength') && emailRef.touched">Minimum length is 8</p>
           <p  style="color:red;" *ngIf="emailRef.hasError('email') && emailRef.touched">Email Address Format  Required</p>
       </div>

       <div><button>Submit</button></div>
   </form>
</div>

<div style="clear: both"></div>
<hr />
<h1>{{titleText}}</h1>
Search String : {{searchName}}
<br />
Search Ele Ref : {{searchEleRef}}
<br />
Search Text Value : {{searchTextValue}}
<hr />
<input type="text" (keyup)="updateSearch($event)" #fieldName [(ngModel)]="searchTextValue"/>
<p *ngFor="let a of friends | append:searchName">
    {{a}}
</p>

<hr />
<p>
<a (click)="navigateToUser()"> User </a>
</p>